#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    behaviors {
        soft_off_safe: soft_off_safe {
            compatible = "zmk,behavior-hold-tap";
            label = "SOFT_OFF_SAFE";
            bindings = <&soft_off>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
        };

        bt_safe: bt_safe {
            compatible = "zmk,behavior-hold-tap";
            label = "BT_SAFE";
            bindings = <&bt_clear>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <3000>;
        };
    };

    macros {
        bt_clear: bt_clear {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_CLR>;
            label = "BT_CLEAR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp K_VOLUME_UP     &kp N1         &kp N2          &kp N3           &kp N4            &kp N5                  &kp N6             &kp N7         &kp N8            &kp N9             &kp N0     &kp EQUAL
&kp K_VOLUME_DOWN   &kp Q          &kp W           &kp E            &kp R             &kp T                   &kp Y              &kp U          &kp I             &kp O              &kp P      &kp MINUS
&trans              &kp A          &kp S           &kp D            &kp F             &kp G                   &kp H              &kp J          &kp K             &kp L              &kp SEMI   &trans
&bt_safe 0 0        &kp Z          &kp X           &kp C            &kp V             &kp B                   &kp N              &kp M          &kp COMMA         &kp DOT            &kp SQT    &trans
&soft_off_safe 0 0  &kp BACKSLASH  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp TAB           &mt LEFT_SHIFT TILDE    &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SLASH  &soft_off_safe 0 0
                                                                    &mt LEFT_WIN ESC  &to 1                   &kp SPACE          &kp ENTER
                                                                                      &kp DEL                 &kp BACKSPACE
            >;
        };

        lower_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7          &kp F8    &kp F9        &kp F10    &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans     &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans     &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans     &trans   &trans
                                &none   &to 0     &none           &none
                                        &trans    &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                &none   &none     &none   &none
                                        &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                &none   &none     &none   &none
                                        &trans    &trans
            >;
        };
    };
};
